{% if page.menu.url == '/' %}
<header>
  <img class="hero-journey" src="/images/polio-vaccine.jpg">
  <div class="inner">
    <h1>Vaccination works</h1>
    <h2>your dispassionate guide to vaccination facts</h2>
    <div class="hero">
      <p>There are many sites and blogs on the internet that say we should not vaccinate our children. Yet we have seen amazing results from mass-vaccination in the past 100 years, eradicatin polio and smallpox for example.</p>
      <p>A lot of the arguments made by anti vaccination supporters cite sientific papers and reports, at least partially. It's hard to know what to belive and harder still to read the papers.</p>
      <p>We have examined the claims and read the papers. We present the facts, you make up your mind.</p>
      <a class="action">To the facts</a>
    </div>
    <a href="https://github.com/my-codeworks/vaccination" class="button">
      <i class="fa fa-github"></i>
      <small>Contribute to<br>this page on</small>
      GitHub
    </a>
  </div>
  <aside>Photo courtesy of the <a href="http://www.indianahistory.org/">Indiana Historical Society</a>.</aside>
</header>
{% else %}
<header>
  <img class="hero-journey" src="/images/polio-vaccine.jpg" />
  <div class="inner">
    <h1>Vaccination works</h1>
    <h2>your dispassionate guide to vaccination facts</h2>
    <a href="https://github.com/my-codeworks/vaccination" class="button">
      <i class="fa fa-github"></i>
      <small>Contribute to<br/>this page on</small>
      GitHub
    </a>
  </div>
  <aside>Photo courtesy of the <a href="http://www.indianahistory.org/">Indiana Historical Society</a>.</aside>
</header>
{% endif %}