<nav>
  <ul class="inner">
    <!-- {{ page.url }} -->
    <li{% if '/index.html' == page.url %} class="active"{% endif %}><a href="/"><i class="fa fa-home"></i></a></li>
    <li{% if '/debunked/index.html' == page.url %} class="active"{% endif %}><a href="/debunked">Debunked</a></li>
    <li{% if '/facts/index.html' == page.url %} class="active"{% endif %}><a href="/facts">Facts</a></li>
    <li{% if '/further-reading/index.html' == page.url %} class="active"{% endif %}><a href="/further-reading">Further reading</a></li>
    <li{% if '/contribute/index.html' == page.url %} class="active"{% endif %}><a href="/contribute">Contribute</a></li>
    <li{% if '/about/index.html' == page.url %} class="active"{% endif %}><a href="/about">About</a></li>
    <li{% if '/press/index.html' == page.url %} class="active"{% endif %}><a href="/press">Press</a></li>
    <li{% if '/thanks/index.html' == page.url %} class="active"{% endif %}><a href="/thanks">Thanks</a></li>
  </ul>
</nav>