<aside id="sidebar">
  <a href="https://github.com/my-codeworks/vaccination/zipball/master" class="button">
    <i class="fa fa-archive"></i>
    <small>Download press<br>materials as</small>
    .zip file
  </a>
  <a href="https://github.com/my-codeworks/vaccination/tarball/master" class="button">
    <i class="fa fa-archive"></i>
    <small>Download press<br>materials as</small>
    .tar.gz file
  </a>
  <a href="https://github.com/my-codeworks/vaccination/tarball/master" class="button">
    <i class="fa fa-file-pdf-o"></i>
    <small>Download basic<br>information as</small>
    .pdf file
  </a>

  <p class="repo-owner"><a href="https://github.com/vaccination-works/site">This site</a> is administered by <a href="https://github.com/vaccination-works">vaccination works</a>.</p>

  <p>This page is hosted at <a href="https://pages.github.com">GitHub Pages</a> and based on the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
</aside>